body > .container {
    background: #FFF;
}

h2 {
    font-family: 'Pacifico', cursive;
}

nav {
    color: #FFF;
    padding: 20px 0;
    text-align: center
}
nav a {
    line-height: 48px;
    margin-right: 14px;
    color: #FFF;
}
nav a:hover {
    color: #FFF;
}
nav .actions {
    font-size: 20px;
}

.categories {
    text-align: justify;
}
.categories a {
    color: #FFF;
}

.ofertas {
    margin-top: 30px;
}

.ofertas hr {
    margin-top: 0rem;
    border: 1px dashed #333;
}

.produto {
    text-decoration: none !important;
    padding: 10px;
}

.produto img {
    border: 1px dashed #ccc;
    max-width: 100%;
}

.produto span {
    color: #333;
    display: block;
}

.produto .nome {
    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.produto .call-to-action {
    transition: all .5s;
    padding: 5px 10px;
    margin-top: 10px;
    color: #FFF;
    background: #cd0303;
}

.produto:hover .call-to-action {
    transform: scale(1.3, 1.3);
    background: #333;
}

.produto .preco {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

.links-uteis a {
    color: #333;
    text-decoration: none;
}

.links-uteis a {
    transition: all .4s;
}

.links-uteis a:hover {
    color: #cd0303
}

/* Detalhe do Produto */
.detalhe-produto {
    text-decoration: none !important;
    padding: 10px;
}

.detalhe-produto img {
    border: 1px dashed #ccc;
    max-width: 100%;
}

.detalhe-produto span {
    color: #333;
    display: block;
}

.detalhe-produto .nome {
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detalhe-produto .call-to-action {
    transition: all .5s;
    padding: 10px 15px;
    margin-top: 10px;
    color: #FFF;
    font-size: 24px;
    background: #cd0303;
}

.detalhe-produto .call-to-action:hover {
    background: #333;
}

.detalhe-produto .preco {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}



/* Carrinho de Compras */
.carrinho .labels {
    font-weight: bold;
    font-size: 20px;

}

.carrinho .item-carrinho {
    margin-bottom: 10px;
}

.carrinho .item-carrinho strong {
    font-size: 28px;
}

.item-carrinho i {
    line-height: 38px;
    margin: 0 6px;
}

.carrinho img {
    border: 1px dashed #ccc;
    max-width: 100%;
}

.carrinho .total span {
    font-family: 'Pacifico', cursive;
    font-size: 45px;
}

.carrinho .total .btn {
    margin-bottom: 10px;
}

.carrinho .total button {
    background: #cd0303;
}

@media (max-width: 767px) {
    .detalhe-produto .text-right {
        text-align: center !important;
    }

    .links-uteis .redes-sociais {
        text-align: center !important;
    }
}

