<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="painelApp">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Arquivos Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/plentz/jquery-maskmoney/master/dist/jquery.maskMoney.min.js"></script>
    <!-- Arquivos Bootstrap -->

    <!-- Arquivo do FontAwesome -->
    <!-- Arquivos de Fonte (Icones, Titulos etc) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="icon" th:href="@{/img/favicon.png}">

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/painel.css}" />
    <title>Perfumaria: Painel Administrativo</title>
</head>

<body>
    <div id="main">
        <div class="nav-side-menu">
            <div class="brand"><img class="profile-img" th:src="@{/admin/img/logo.jpg}" alt=""></div>
            <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
            <div class="menu-list">
                <div class="hello" style="text-align: center; font-size: 25px; padding: 20px 0;">
                    Olá <span th:text="${session.admin.getNome()}"></span>
                </div>

                <ul id="menu-content" class="menu-content collapse out">
                    <li>
                        <a href="#/gerenciar-produtos"><i class="fa fa-shopping-cart fa-lg"></i> Gerenciar Produtos</a>
                    </li>
                    <li th:if="${session.admin.getPerfil().equals('gerente')}">
                        <a href="#/gerenciar-usuarios"><i class="fa fa-user fa-lg"></i> Gerenciar Usuários</a>
                    </li>
                    <li th:if="${session.admin.getPerfil().equals('gerente')}">
                        <a href="#/gerenciar-pedidos"><i class="fa fa-money fa-lg"></i>&nbsp; Gerenciar Pedidos</a>
                    </li>
                    <li th:if="${session.admin.getPerfil().equals('gerente')}">
                        <a href="#/relatorio"><i class="fa fa-file-text fa-lg"></i> Relatório</a>
                    </li>
                    <li>
                        <a href="#/editar-conta"><i class="fa fa-edit fa-lg"></i> Editar Conta</span></a>
                    </li>
                    <li>
                        <a href="./logout"><i class="fa fa-times fa-lg"></i> Sair</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content" ng-view></div>
    </div>
    <script>
        var painelApp = angular.module('painelApp', ['ngRoute']);

        function realToNumber(valor) {
            return Number(valor.replace('.', '').replace(',', '.'));
        }

        function numberToReal(numero) {
            var numero = numero.toFixed(2).split('.');
            numero[0] = numero[0].split(/(?=(?:...)*$)/).join('.');
            return numero.join(',');
        }

        // configure our routes
        painelApp.config(function ($routeProvider) {
            $routeProvider
                .when('/', {
                    templateUrl: '/admin/home.html',
                    controller: 'mainController'
                })
                .when('/gerenciar-produtos', {
                    templateUrl: '/admin/produtos.html',
                    controller: 'produtosController'
                })
                .when('/gerenciar-usuarios', {
                    templateUrl: '/admin/usuarios.html', //Tem que criar esse arquivo
                    controller: 'usuariosController'
                })
                .when('/gerenciar-pedidos', {
                    templateUrl: '/admin/pedidos.html',
                    controller: 'pedidosController'
                })
                .when('/relatorio', {
                    templateUrl: '/admin/relatorio.html', //Tem que criar esse arquivo
                    controller: 'relatorioController'
                })
                .when('/editar-conta', {
                    templateUrl: '/admin/conta.html', //Tem que criar esse arquivo
                    controller: 'contaController'
                });
        });

        painelApp.controller('mainController', function ($scope) {
            $scope.message = 'Everyone come and see how good I look!';
        });

        painelApp.controller('produtosController', function ($scope, $http) {
            $scope.arquivoImagem = null;
            var produtoLimpo = {
                "id": '', "codigo": '', "nome": '', "marca": '', "preco": '', "imagem": '',
                "quantidade": '', "categoria": '', "descricao": '', "precoFormatado": ''
            };
            $scope.produto = JSON.parse(JSON.stringify(produtoLimpo));

            //Carrego a lista de produtos
            $http({
                method: 'GET',
                url: './api/produtos'
            }).then(function successCallback(response) {
                var produtos = response.data;
                produtos.forEach(function (item) {
                    item.precoOriginal = numberToReal(item.precoOriginal);
                    item.precoVenda = numberToReal(item.precoVenda);
                })
                $scope.listaProdutos = produtos;

            }, function errorCallback(response) {
                alert('Erro ao solicitar o catalogo de produtos.');
            });

            //Função que fica atualizando a imagem no modal ao mudar o input de arquivo
            $scope.trocarImagem = function (input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $scope.produto.imagem = e.target.result;
                        $scope.$apply();
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            //Ao fechar o modal "limpo" o produto do $scope
            $("#modalForm").on("hidden.bs.modal", function () {
                $scope.produto = JSON.parse(JSON.stringify(produtoLimpo));
                $scope.$apply();
                $('#imagem').val('');
            });

            //Modal do "Editar"
            $scope.editarProduto = function (produto) {
                $scope.produto = produto;
                $('#modalForm').modal('show');
            }

            //Apresenta as mensagens de sucesso e erro
            $scope.mostrarAlerta = function (sucesso, mensagem, tempo) {
                if (sucesso) {
                    $('.alert').removeClass('alert-danger').addClass('alert-success');
                } else {
                    $('.alert').removeClass('alert-success').addClass('alert-danger');
                }
                $('.alert').text(mensagem);
                $('.alert').addClass('show');
                setTimeout(() => {
                    $('.alert').removeClass('show')
                }, tempo || 3000);
            }

            //Função acionada quando clicar no submit de modal (cadastra ou atualiza)
            $scope.salvar = function () {
                //TO-DO: Validar os campos
                $scope.produto.precoOriginal = realToNumber($scope.produto.precoOriginal);
                $scope.produto.precoVenda = realToNumber($scope.produto.precoVenda);
                if ($("#imagem")[0].files.length > 0) enviarImagem();
                else {
                    if (!$scope.produto.id) cadastrarProduto();
                    else atualizarProduto();
                }
            }

            function enviarImagem() {
                var fd = new FormData();
                fd.append('arquivo', $("#imagem")[0].files[0]);
                $.ajax({
                    url: '/admin/api/upload',
                    method: "POST",
                    contentType: false,
                    processData: false,
                    data: fd,
                    success: function (data) {
                        $scope.produto.imagem = data;
                        if (!$scope.produto.id) cadastrarProduto();
                        else atualizarProduto();
                    },
                    error: function (data) {
                        console.log('err', data);
                    }
                });
            }

            function cadastrarProduto() {
                $.ajax({
                    type: "POST",
                    url: '/admin/api/produtos',
                    data: JSON.stringify($scope.produto),
                    contentType: 'application/json',
                    success: (data) => {
                        $scope.produto.id = data;
                        var novoProduto = JSON.parse(JSON.stringify($scope.produto));
                        novoProduto.precoOriginal = numberToReal(novoProduto.precoOriginal);
                        novoProduto.precoVenda = numberToReal(novoProduto.precoVenda);
                        $scope.listaProdutos.push(novoProduto);
                        $scope.$apply();
                        $('#modalForm').modal('hide');
                        $scope.mostrarAlerta('sucesso', 'Produto cadastrado com sucesso.')
                    },
                    error: (data) => {
                        alert('Erro ao cadastrar o produto, tente novamente mais tarde.');
                    }
                });
            }

            function atualizarProduto() {
                $.ajax({
                    type: "POST",
                    url: '/admin/api/produtos/' + $scope.produto.id,
                    data: JSON.stringify($scope.produto),
                    contentType: 'application/json',
                    success: (data) => {
                        $scope.produto.precoOriginal = numberToReal($scope.produto.precoOriginal);
                        $scope.produto.precoVenda = numberToReal($scope.produto.precoVenda);
                        $scope.mostrarAlerta('sucesso', 'Produto atualizado com sucesso.')
                        $('#modalForm').modal('hide');
                    },
                    error: (data) => {
                        alert('Erro ao atualizar o produto, tente novamente mais tarde.');
                    }
                });
            }

            //Função que "exclui" um produto
            $scope.removerProduto = function (produto) {
                if (!confirm('Deseja excluir o produto "' + produto.nome + '" ?')) return;
                var indice = $scope.listaProdutos.indexOf(produto);
                $http({
                    method: 'DELETE',
                    url: './api/produtos/' + produto.id
                }).then(function successCallback(response) {
                    $scope.listaProdutos.splice(indice, 1);
                    $scope.mostrarAlerta(true, 'Produto excluido com sucesso.');
                }, function errorCallback(response) {
                    $scope.mostrarAlerta(false, 'Erro ao excluir o produto, tente novamente mais tarde.');
                });
            };
        });

        painelApp.controller('pedidosController', function ($scope, $http) {
            //Criar a lógica da tela de gerenciar pedidos
            var pedidoLimpo = {
                "id_venda": '', "id_cliente": '', "identificador": '', "id_endereco": '', "status": '', "data_venda": ''
            };
            $scope.pedido = JSON.parse(JSON.stringify(pedidoLimpo));

            //Carrego a lista de pedidos
            $http({
                method: 'GET',
                url: './api/pedidos'
            }).then(function successCallback(response) {
                var pedidos = response.data;
                $scope.listaPedidos = pedidos;
            }, function errorCallback(response) {
                alert('Erro ao solicitar o catalogo de pedidos.');
            });

            //Ao fechar o modal "limpo" o pedido do $scope
            $("#modalForm").on("hidden.bs.modal", function () {
                $scope.pedido = JSON.parse(JSON.stringify(pedidoLimpo));
                $scope.$apply();
            });

            //Modal do "Editar"
            $scope.editarPedido = function (pedido) {
                $scope.pedido = pedido;
                $('#modalForm').modal('show');
            };

            //Função acionada quando clicar no submit de modal (cadastra ou atualiza)
            $scope.salvarPedido = function () {
                atualizarPedido();
            };

            function atualizarPedido() {
                console.log($scope.pedido);
                $.ajax({
                    type: "POST",
                    url: '/admin/api/pedidos/' + $scope.pedido.id,
                    data: JSON.stringify($scope.pedido),
                    contentType: 'application/json',
                    success: (data) => {
                        $scope.mostrarAlerta('sucesso', 'Produto atualizado com sucesso.');
                        $('#modalForm').modal('hide');
                    },
                    error: (data) => {
                        alert('Erro ao atualizar o produto, tente novamente mais tarde.');
                    }
                });
            }

            //Apresenta as mensagens de sucesso e erro
            $scope.mostrarAlerta = function (sucesso, mensagem, tempo) {
                if (sucesso) {
                    $('.alert').removeClass('alert-danger').addClass('alert-success');
                } else {
                    $('.alert').removeClass('alert-success').addClass('alert-danger');
                }
                $('.alert').text(mensagem);
                $('.alert').addClass('show');
                setTimeout(() => {
                    $('.alert').removeClass('show')
                }, tempo || 3000);
            };
        });

        painelApp.controller('usuariosController', function ($scope, $http) {
            var usuarioLimpo = {
                "id": '', "enabled": '', "user": '', "pass": '', "nome": '',
                "cpf": '', "perfil": ''
            };
            $scope.usuario = JSON.parse(JSON.stringify(usuarioLimpo));

            //Carrego a lista de usuários
            $http({
                method: 'GET',
                url: './api/usuarios'
            }).then(function successCallback(response) {
                var usuarios = response.data;
                usuarios.forEach(function (item) {
                })
                $scope.listaUsuarios = usuarios;

            }, function errorCallback(response) {
                alert('Erro ao solicitar a lista de usuários.');
            });

            //Ao fechar o modal "limpo" o produto do $scope
            $("#modalForm").on("hidden.bs.modal", function () {
                $scope.usuario = JSON.parse(JSON.stringify(usuarioLimpo));
                $scope.$apply();
                $('#imagem').val('');
            });

            //Modal do "Editar"
            $scope.editarUsuario = function (usuario) {
                $scope.usuario = usuario;
                $('#modalForm').modal('show');
            }

            //Apresenta as mensagens de sucesso e erro
            $scope.mostrarAlerta = function (sucesso, mensagem, tempo) {
                if (sucesso) {
                    $('.alert').removeClass('alert-danger').addClass('alert-success');
                } else {
                    $('.alert').removeClass('alert-success').addClass('alert-danger');
                }
                $('.alert').text(mensagem);
                $('.alert').addClass('show');
                setTimeout(() => {
                    $('.alert').removeClass('show')
                }, tempo || 3000);
            }

            //Função acionada quando clicar no submit de modal (cadastra ou atualiza)
            $scope.salvar = function () {
                //TO-DO: Validar os campos

                if (!$scope.usuario.id) cadastrarUsuario();
                else atualizarUsuario();

            }


            function cadastrarUsuario() {
                $.ajax({
                    type: "POST",
                    url: '/admin/api/usuarios',
                    data: JSON.stringify($scope.usuario),
                    contentType: 'application/json',
                    success: (data) => {
                        $scope.usuario.id = data;
                        var novoUsuario = JSON.parse(JSON.stringify($scope.usuario));
                        $scope.listaUsuarios.push(novoUsuario);
                        $scope.$apply();
                        $('#modalForm').modal('hide');
                        $scope.mostrarAlerta('sucesso', 'Usuário cadastrado com sucesso.')
                    },
                    error: (data) => {
                        alert('Erro ao cadastrar o usuário, tente novamente mais tarde.');
                    }
                });
            }

            function atualizarUsuario() {
                $.ajax({
                    type: "POST",
                    url: '/admin/api/usuarios/' + $scope.usuario.id,
                    data: JSON.stringify($scope.usuario),
                    contentType: 'application/json',
                    success: (data) => {
                        $scope.mostrarAlerta('sucesso', 'Usuário atualizado com sucesso.')
                        $('#modalForm').modal('hide');
                    },
                    error: (data) => {
                        alert('Erro ao atualizar o usuário, tente novamente mais tarde.');
                    }
                });
            }

            //Função que "exclui" um produto
            $scope.removerUsuario = function (usuario) {
                if (!confirm('Deseja excluir o usuário "' + usuario.nome + '" ?')) return;
                var indice = $scope.listaUsuarios.indexOf(usuario);
                $http({
                    method: 'DELETE',
                    url: './api/usuarios/' + usuario.id
                }).then(function successCallback(response) {
                    $scope.listaUsuarios.splice(indice, 1);
                    $scope.mostrarAlerta(true, 'Usuário excluído com sucesso.');
                }, function errorCallback(response) {
                    $scope.mostrarAlerta(false, 'Erro ao excluir o usuário, tente novamente mais tarde.');
                });
            };
        });

        painelApp.controller('relatorioController', function ($scope, $http, $filter) {
                                   // filtros iniciais
                    var newdate = new Date();
                    var primeiroDiaMes = new Date(newdate.getFullYear(), newdate.getMonth(), 1);
                    
                    $scope.filtros = {dtini: $filter('date')(primeiroDiaMes, "yyyy-MM-dd"), dtfim: $filter('date')(newdate, "yyyy-MM-dd")};
                    console.log($scope.filtros);
        
        
        $scope.carregar = function () {
        
                    $.ajax({
                    type: "POST",
                    url: '/admin/api/relatorio',
                    data: JSON.stringify($scope.filtros),
                    contentType: 'application/json',
                    success: (data) => {
                        var relatorio = data;
                        console.log(relatorio);
                        $scope.listaRelatorios = relatorio;
                        $scope.$apply();
                        
                    },
                    error: (data) => {
                        alert('Erro ao selecionar relatorio, tente novamente mais tarde.');
                    }
                });
                  
                    }
                    
                    $scope.carregar();
        });

        painelApp.controller('contaController', function ($scope, $http) {
            //Criar a lógica da editar conta
        });
    </script>
</body>

</html>
