<!DOCTYPE html>
<!--
Página de Login + Cadastro de Clientes.
-->
<html>
    <head>
        <title>Nova Conta de Cliente</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>IDENTIFICAÇÃO</h1>
        
        <div>
            <h2>JÁ SOU CLIENTE</h2>
            <input type="text" name="e-mail" placeholder="E-mail ou CPF"/><br>
            <br>
            <input type="password"  name="senha" placeholder="Senha"/><br>
            <br>
            <input type="submit" value="ENTRAR"/> 
        </div>
        
        <div>
            <h2>AINDA NÃO SOU CLIENTE</h2>
           
            <input type="text" name="cpf" placeholder="CPF*"/><br>
            <br>
            <input type="text" name="nome" placeholder="Nome*"/><br>
            <br>
            <input type="text" name="data_nascimento" placeholder="Nasc (DD/MM/AAA)*"/><br>
            <br>
            <input type="text" name="telefone" placeholder="Telefone*"/><br>
            <br>
            <input type="text" name="email" placeholder="E-mail*"/><br>
            <br>
            <input type="password" name="senha" placeholder="Senha*"/><br>
            <br>
            <input type="password" name="senha" placeholder="Confirmar senha*"/><br>
            <br>
            <input type="submit" value="FAZER CADASTRO"/> 
        </div>
        
    </body>
</html>
