<!DOCTYPE html>
<html lang="pt-br">
<!-- Importo o conteudo do head (scripts, css) através arquivo template.html -->
<head th:insert="template :: head(title='Carrinho de Compras')"></head>
<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>

<body ng-app="carrinhoApp">
    <!-- Importo o conteudo do menu através arquivo template.html -->
    <div th:insert="template :: menu"></div>


    <div class="container carrinho" ng-controller="carrinhoController" style="padding-top: 40px">

        <!-- Itens do Carrinho de Compra -->
        <h1 class="text-center">Carrinho de Compras</h1>
        <hr>
        <div class="row item-carrinho" ng-repeat="produto in produtos">
            <div class="col-5 col-md-2"> <img ng-src="{{'/static/' + produto.imagem}}" alt=""> </div>
            <div class="col-7 col-md-4">
                <span class="marca font-weight-bold">{{produto.marca}}</span><br>
                <span class="nome">{{produto.nome}}</span><br>
            </div>
            <div class="col-5 col-md-3 text-center" style="padding-top:10px; user-select: none;">
                <a ng-click="incrementar(produto)">
                    <span style="cursor: pointer"><i class="fa fa-plus"></i></span>
                </a>
                <input type="text" ng-model="produto.quant" class="form-control d-inline" disabled style="max-width: 50px">
                <a ng-click="decrementar(produto)">
                    <span style="cursor: pointer"><i class="fa fa-minus"></i></span><br>
                </a>
                <a ng-click="remover(produto)">
                    <span ng-click="teste(produto)" style="cursor: pointer">Remover</span>
                </a>
            </div>
            <div class="col-7 col-md-3 text-right">
                <strong>{{'R$' + (produto.precoVenda * produto.quant).toString().numberToReal()}}</strong>
            </div>
        </div>

        <!-- Total -->
        <div class="row" ng-if="produtos.length > 0">
            <div class="col-12 total text-right">
                <span>Total: R${{Total.toString().numberToReal()}}</span><br>
                <a href="/" type="button" class="btn btn-secondary btn-lg">
                    <i class="fa fa-shopping-cart"></i> CONTINUAR COMPRANDO
                </a>
                <button type="button" class="btn btn-primary btn-lg">
                    <i class="fa fa-check"></i> FINALIZAR COMPRA
                </button>
            </div>
        </div>

        <!-- Aproveite e Leve Também -->
        <div class="ofertas">
            <h1 class="text-center">Aproveite e Leve Também</h1>
            <hr>
            <div class="produtos row text-center">
                <th:block th:each="prd, iterStat : ${relacionados}" th:if="${iterStat.index} < 4">
                    <a th:href="@{'/produto/'+${prd.getId()}}" class="col-md-3 col-6 produto">
                        <img th:src="@{'/static/'+ ${prd.getImagem()}}" alt="">
                        <span th:text="${prd.getMarca()}" class="marca font-weight-bold">Antonio Banderas</span>
                        <span th:text="${prd.getNome()}" class="nome">The Secret Temptation Masculino Eau de Toilette</span>
                        <span th:text="${'R$ ' + prd.getPrecoVendaFormatado()}" class="preco font-weight-bold">R$ 149,00</span>
                        <span class="call-to-action font-weight-bold d-inline-block">
                            <i class="fa fa-shopping-cart"></i> COMPRAR
                        </span>
                    </a>
                </th:block>
            </div>
        </div>
    </div>

    <!-- Importo o conteudo do Footer através arquivo template.html -->
    <div th:insert="template :: footer"></div>
</body>

<script>
    String.prototype.numberToReal = function () {
        var numero = Number(this).toFixed(2).split('.');
        numero[0] = numero[0].split(/(?=(?:...)*$)/).join('.');
        return numero.join(',');
    }

    var carrinhoApp = angular.module('carrinhoApp', []);
    carrinhoApp.controller('carrinhoController', function($scope, $http) {
        $scope.Total = 0;

        $scope.produtos = [];

        $scope.incrementar = function (prd) {
            prd.quant ++;
            $scope.atualizaTotal();
        }

        $scope.decrementar = function (prd) {
            if (prd.quant -1 <= 0) prd.quant = 1;
            else prd.quant --;
            $scope.atualizaTotal();
        }

        $scope.remover = function (prd) {
            var indice = $scope.produtos.indexOf(prd);
            $scope.produtos.splice(indice, 1);
            $scope.atualizaTotal();
            $('.quantItensCarrinho').text($scope.produtos.length);
        }

        $scope.atualizaLocalStorage = function () {
            $scope.Total = 0;
            $scope.produtos.forEach(function (prd) {
                $scope.Total += (prd.quant * prd.precoVenda);
            });
        }

        $scope.atualizaTotal = function () {
            $scope.Total = 0;
            var itensCarrinho = {};
            $scope.produtos.forEach(function (prd) {
                itensCarrinho['P'+prd.id] = prd.quant;
                $scope.Total += (prd.quant * prd.precoVenda);
            });
            localStorage.setItem('itensCarrinho', JSON.stringify(itensCarrinho));
        }

        var itensCarrinho = localStorage.getItem('itensCarrinho');
        if (itensCarrinho != null) {
            itensCarrinho = JSON.parse(itensCarrinho);
            var ids = [];
            for (var prd in itensCarrinho) {
                ids.push(prd.replace('P', ''))
            }
            if (ids.length == 0) return;
            pegarProdutos(ids);
        } else {
            itensCarrinho = {};
        }

        function pegarProdutos(produtos) {
            $http({
                method: 'GET',
                url: './ecommerce/api/carrinho?produtos=' + produtos.toString()
            }).then(function successCallback(response) {
                var produtos = response.data;
                produtos.forEach(function (item) {
                    item.quant = itensCarrinho['P'+item.id];
                })
                $scope.produtos = produtos;
                $scope.atualizaTotal();
            }, function errorCallback(response) {
                alert('Erro ao solicitar o catalogo de produtos.');
            });
        }
    });
</script>
</html>