<!DOCTYPE html>
<html lang="pt-br">
<!-- Importo o conteudo do head (scripts, css) através arquivo template.html -->
<head th:insert="template :: head(title=${produto.getNome()})"></head>

<body>
    <!-- Importo o conteudo do Menu através arquivo template.html -->
    <div th:insert="template :: menu"></div>

    <div class="container" style="padding-top: 40px">
        <div class="detalhe-produto row">
            <div class="col-12 col-md-8">
                <img th:src="@{'/static/'+ ${produto.getImagem()}}" alt="">
            </div>
            <div class="col-12 col-md-4 text-right">
                <div style="background: #eee; padding: 20px;">
                    <span th:text="${produto.getMarca()}" class="marca font-weight-bold">Antonio Banderas</span>
                    <span th:text="${produto.getNome()}" class="nome">The Secret Temptation Masculino Eau de Toilette</span>
                    <span th:if="${!produto.getPrecoOriginalFormatado().equals(produto.getPrecoVendaFormatado())}" th:text="${'de: R$' + produto.getPrecoOriginalFormatado()}" class="preco font-weight-bold" style="text-decoration:line-through;">R$ 149,00</span>
                    <span th:text="${'por: R$' + produto.getPrecoVendaFormatado()}" class="preco font-weight-bold">R$ 149,00</span>
                    <a th:if="${produto.getQuantidade() > 0}" onclick="adicionaNoCarrinho(this); return false;" th:attr="product-id=${produto.getId()}" href="#">
                        <span class="call-to-action font-weight-bold d-inline-block">
                            <i class="fa fa-shopping-cart"></i>
                            Comprar
                        </span>
                    </a>

                    <span style="background:#333" th:if="${produto.getQuantidade() == 0}" class="call-to-action font-weight-bold d-inline-block">
                        Produto Indisponível
                    </span>
                </div>
            </div>
            <div class="col-12 col-md-9" style="margin-top:30px;">
                <strong>Descrição:</strong><br>
                <span th:text="${produto.getDescricao()}"></span>
            </div>
        </div>

        <!-- Veja também -->
        <div class="ofertas">
            <h1 class="text-center">Veja Também</h1>
            <hr>
            <div class="produtos row text-center">
                <th:block th:each="prd, iterStat : ${relacionados}" th:if="${iterStat.index} < 4">
                    <a th:href="@{'/produto/'+${prd.getId()}}" class="col-md-3 col-6 produto">
                        <img th:src="@{'/static/'+ ${prd.getImagem()}}" alt="">
                        <span th:text="${prd.getMarca()}" class="marca font-weight-bold">Antonio Banderas</span>
                        <span th:text="${prd.getNome()}" class="nome">The Secret Temptation Masculino Eau de Toilette</span>
                        <span th:text="${'R$ ' + prd.getPrecoVendaFormatado()}" class="preco font-weight-bold">R$ 149,00</span>
                        <span class="call-to-action font-weight-bold d-inline-block">
                            <i class="fa fa-shopping-cart"></i> COMPRAR
                        </span>
                    </a>
                </th:block>
            </div>
        </div>
    </div>

    <!-- Importo o conteudo do Footer através arquivo template.html -->
    <div th:insert="template :: footer"></div>

    <script>
        function adicionaNoCarrinho(e) {
            var id = e.getAttribute('product-id');

            var itensCarrinho = localStorage.getItem('itensCarrinho');
            if (itensCarrinho != null) {
                itensCarrinho = JSON.parse(itensCarrinho);
            } else {
                itensCarrinho = {};
            }

            console.log(itensCarrinho);
            if (itensCarrinho['P' + id]) { //Se o item já estiver no carrinho
                itensCarrinho['P' + id] = itensCarrinho['P' + id] + 1; //Incremento a quantidade
            } else {
                itensCarrinho['P' + id] = 1; //Adiciono no carrinho
            }

            window.localStorage.setItem('itensCarrinho', JSON.stringify(itensCarrinho));
            window.location.href="/carrinho"

        }
    </script>
</body>
</html>