<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<!-- Head (Scripts, CSS, JS) -->
<head th:fragment="head (title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Arquivos Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Arquivos Bootstrap -->

    <!-- Arquivo do FontAwesome -->
    <!-- Arquivos de Fonte (Icones, Titulos etc) -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">

    <script th:src="@{/ecommerce/js/utils.js}"></script>
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" th:href="@{/ecommerce/css/estilo.css}">

    <title th:text="${title}"></title>
</head>

<body>
    <!-- Menu -->
    <div th:fragment="menu" class="container-fluid" style="background: #333;">
        <!-- logo + busca + login + carrinho + icone menu mobile -->
        <div class="container">
            <nav class="row">
                <h2 class="col-7 col-md-3 order-1 order-md-1"><a href="/" style="text-decoration: none;">Perfumaria</a></h2>
                <form class="d-none d-md-block col-12 col-md-6 order-3 order-md-2" action="buscar" method="GET">
                    <div class="input-group input-group-lg">
                        <input class="form-control" name="buscar" type="text" placeholder="O que você procura ?">
                        <span class="input-group-append">
                            <button class="btn btn-secondary" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <div class="actions col-5 col-md-3 order-2 order-md-3">
                    <a href="/entrar">
                        <i class="fa fa-user"></i>
                        <span th:if="${session.cliente.getNome() != null}" th:text="${ 'Olá ' + session.cliente.getNome().split(' ')[0]}"
                            class="d-none d-lg-inline" style="font-size:14px"></span>
                        <span th:unless="${session.cliente.getNome() != null}" class="d-none d-lg-inline" style="font-size:14px">Entrar</span>
                    </a>
                    <a href="/carrinho">
                        <span class="quantItensCarrinho">0</span>
                        <i class="fa fa-shopping-cart"></i>
                        <span class="d-none d-lg-inline" style="font-size:14px">Carrinho</span>
                    </a>
                    <a class="d-lg-none parentclass" data-toggle="collapse" data-target="#navbarNavAltMarkup" href="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars" role="button"></i>
                    </a>
                </div>
            </nav>
        </div>
        <!-- categorias + busca mobile -->
        <div class="row" style="background: #404040;">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">

                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a href="/categoria/perfume">PERFUMES 66</a>
                            <a href="./categoria.html">MAQUIAGEM</a>
                            <a href="./categoria.html">BANHO</a>
                            <a href="./categoria.html">PRESENTES</a>
                            <a href="./categoria.html">HOMENS</a>
                            <a href="./categoria.html">MULHERES</a>
                            <a class="font-weight-bold" href="./categoria.html">OUTLET </a>

                            <form class="d-md-none" action="buscar" method="GET">
                                <div class="input-group input-group-lg">
                                    <input class="form-control" name="buscar" type="text" placeholder="Buscar por">
                                    <span class="input-group-append">
                                        <button class="btn btn-secondary" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>

                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div th:fragment="footer">
        <div class="container-fluid links-uteis" style="background: #ccc; padding: 10px; margin-top: 30px; color: #333;">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-md-4 order-2">
                        <strong>Links Úteis</strong><br>
                        <a href="">Mais vendidos</a><br>
                        <a href="">Novidades</a><br>
                        <a href="">Ofertas</a><br>
                    </div>
                    <div class="col-6 col-md-4 order-3">
                        <strong>Institucional</strong><br>
                        <a href="">Sobre a Perfumaria</a><br>
                        <a href="">Trabalhe Conosco</a><br>
                        <a href="">Nossas Marcas</a><br>
                    </div>
                    <div class="col-md-4 order-1 order-md-3 text-right redes-sociais" style="font-size:30px;">
                        <a href="">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <footer class="container-fluid text-center" style="background: #404040; color: #FFF; padding: 10px;">
            <small>© 2018 - Perfumaria</small>
        </footer>
    </div>
</body>

</html>